.body {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color:#FAFAFA;
}

.login {
    width:50%;
    max-width: 330px;
    text-align: center;
}

.login img {
    width: 140px;
}

.ancho {
    width: 80%;
}

.spinner {
    margin: auto;
}

form {
    background: lightslategray;
    padding: 40px;
    border-radius: 10px;
}