<app-navigation [currentForm]="currentFormCompo"></app-navigation>
<body>

    <div class="login">
        <mat-spinner *ngIf="loading" diameter="50" class="spinner" style=""></mat-spinner>

        <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="ingresar()" id="form-login">
            <img src="assets/img/login/icon-user2.jpg">
            <br><br>
            <mat-form-field appearence="fill" class="ancho">
                <mat-label>User</mat-label>
                <input matInput autocomplete="off" formControlName="user" type="text">
                <mat-icon matSuffix>subject icon</mat-icon>
            </mat-form-field>
            <mat-form-field appearence="fill" class="ancho">
                <mat-label>Password</mat-label>
                <input matInput autocomplete="off" formControlName="password" type="password">
                <mat-icon matSuffix>subject icon</mat-icon>
            </mat-form-field> 
            <br>
            <button mat-raised-button class="ancho" id="button" type="submit"  [disabled]="form.invalid">Log In</button>
        </form>

        <div id="build-version">
            <h3>Alpha Build 0.0.1</h3>
        </div>
        <br>
        <br>

            



    </div>
</body>

<!-- <app-dashboard></app-dashboard> -->