.example-spacer {
    flex: 1 1 auto;
  }

.example-container {
    left: 10;
    background-color: #3f51b5;
    box-shadow: none;
    border: none;
    border-radius: 30px;
    overflow: hidden;
 }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 50px;
    background-color: lightblue;
  }

  .qlq {
      position: fixed;
      background-color: red;
      height: 100%;
      left: 0px;
  }

  .big {
    background-color: orange;
    height: 900px;

  }

  mat-toolbar span {
    margin-left: 50px;
  }