/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-image: url("assets/img/login/bg-img2.jpg");  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-toolbar {
    position: absolute;
    background-color: #24242a !important;
    -webkit-box-shadow: 7px 8px 2px 1px rgba(0,0,0,0.60);
    -moz-box-shadow: 7px 8px 2px 1px rgba(0,0,0,0.60);
    box-shadow: 7px 8px 2px 1px rgba(0,0,0,0.60);;
}

mat-toolbar h1 {
    color:#24242a;
    margin-left: 50px;
    background-color: #90cda3;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 2px;
}

.backdropBackground {
    background-color: red;
  }

/* MAT DIALOG - GLOBAL COLORS  */
  mat-dialog-container {
    background-color: darkslategray !important;
    text-align: left;
    color: #fff !important;
}

mat-dialog-container button {
    color: #fff !important;
    
}
mat-dialog-container input {
        background-color: lightgray;
        border-radius: 5px;
        color: #24242a;
        border: 1px solid #24242a !important;
        -webkit-box-shadow: 1 0px 5px 1px rgba(0,0,0,0.20);
        -moz-box-shadow: 1 0px 5px 1px rgba(0,0,0,0.20);
        box-shadow: 1px 0px 5px 1px rgba(0,0,0,0.20);
}

mat-dialog-container ::placeholder {
    padding-left: 20px ;
    margin-left: 20px;
  }
